@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  :root {
    /* Primary Brand Color (Orange) */
    --color-primary: 249 115 22; 
    /* Secondary Brand Color (Blue) */
    --color-secondary: 59 130 246;
    /* Status Colors */
    --color-success: 16 185 129;
    --color-danger: 239 68 68;
    --color-warning: 245 158 11;
  }
}

@layer components {
  .card-base {
    @apply bg-white dark:bg-slate-800 rounded-2xl p-6 shadow-sm border border-gray-100 dark:border-slate-700 transition-all duration-300;
  }
  
  .card-hover {
    @apply hover:shadow-lg hover:-translate-y-1;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
